# Desactivar la indexacion de directorios y http_code 403
Options -Indexes
IndexIgnore *

#prevenir acceso al archivo .htaccess
<FilesMatch "\.(htaccess|htpasswd|ini|phps|log|bak|txt|sql|json|lock|env)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
#RewriteRule ^([a-z]+)/?$ $1.php [NC]


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html
#RewriteRule ^([a-z]+)/?$ $1.html [NC]

</IfModule>